{% extends 'base.html' %}
{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Visit Track</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Manage Department</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">    
      <div class="row">
        <div class="card">
          <div class="card-body">
            <!-- <h5 class="card-title">Department </h5> -->

            <!-- Multi Columns Form -->
            <form class="row g-3" method = "post" action="{% url 'store_dept' %}">
              {% csrf_token %}
              <div class="col-md-12">
                <label for="inputName5" class="form-label"></label>
                <input type="text" class="form-control" id="inputName5" name="name" placeholder="Department Name">
              </div>
              
             
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
              </div>
            </form><!-- End Multi Columns Form -->    

          </div>
        </div>

      </div>
<!-- ####################################################### --> 

<div class="col-lg-12">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
      
      <table class="table datatable">
        <thead>
          <tr>
            <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data%}
              <tr>
                <th scope="row"></th>
                <td>{{i.name}}</td> 
                
                <td>
                  <a class="" href="{% url 'viewdept' d_id=i.d_id %}"></a> &nbsp;
                  <a class="btn btn-info" href="{% url 'view_upd_dept' d_id=i.d_id %}">Update</a> &nbsp;
                  <a class="btn btn-danger" href="{% url 'del_dept' d_id=i.d_id %}">Delete</a> &nbsp;
                </td>
                  </td>
              </tr>
              {% endfor %} 
        </tbody>
      </table>            
    </div>
  </div>
</div>
</section>
</main><!-- End #main --> 
  {% endblock %}

  <div class="col-lg-12">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        
        <table class="table datatable">
          <thead>
            <tr>
              <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in data%}
                <tr>
                  <th scope="row"></th>
                  <td>{{i.name}}</td> 
                  
                  <td>
                    <a class="" href="{% url 'viewdept' d_id=i.d_id %}"></a> &nbsp;
                    <a class="btn btn-info" href="{% url 'view_upd_dept' d_id=i.d_id %}">Update</a> &nbsp;
                    <a class="btn btn-danger" href="{% url 'del_dept' d_id=i.d_id %}">Delete</a> &nbsp;
                  </td>
                    </td>
                </tr>
                {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
  </div>